.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-container {
  max-width: 500px;
  margin: 50px auto;
}

.login-form {
  margin: 50px;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 8%;
}

h1 {
  text-align: center;
}

.login-container input,
.login-container button,
.login-container .error {
  width: 100%;
  margin: 5px;
}

.chat-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  margin: 30px;
  border: 1px solid grey;
}

.channels {
  grid-column: 1 / 4;
  grid-row: 1 / -1;
  background-color: #f8f9fa;
}

.messages {
  grid-column: 4 / 13;
  grid-row: 1 / -1;
}

.messages-header {
  background-color: #f8f9fa;
  padding: 10px;
}

.messages-header p {
  margin: 0;
  margin-left: 5px;
}

.messages-header h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 3px 0;
  margin-left: 5px;
}

.new-message-container {
  grid-column: 4 / -1;
  grid-row: 12 / -1;
  margin: 8px;
  margin-top: 12px;
  position: relative;
}

.new-message-container input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid gray;
  width: 100%;
}

.new-message-container button {
  position: absolute;
  top: 3px;
  right: 6px;
  border: none;
  background-color: transparent;
}

.messages-block {
  margin-left: 15px;
  margin-top: 15px;
}

.messages-block li {
  margin: 0 10px;
  padding: 4px;
  border: none;
}

.channels li {
  background-color: #f8f9fa;
  border: none;
  margin: 0 auto;
  padding: 2px;
  cursor: pointer;
}

.channels h2 {
  margin: 15px;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
