.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-container {
  max-width: 500px;
  margin: 50px auto;
}

.login-form {
  margin: 50px;
  padding: 30px;
  border: 1px solid grey;
  border-radius: 8%;
}

h1 {
  text-align: center;
}

.login-container input,
.login-container button {
  width: 100%;
  margin: 5px;
}
